*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 175, 175);
}
header{
    color:white;
    margin-top: 20px;
    margin-bottom: 10px ;
}

.container{
    width: 600px;
    margin: 40px auto;
    height: 1000px;
}
.buttons{
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
    justify-content: space-between;
    align-items: center;
}
.prev, .next, .auto{
    width: 100px;
    height: 50px;  
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.prev:hover, .next:hover, .auto:hover{
   background-color: rgb(12, 106, 134);;
   color: white;
}
.info{
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-right: 40px;
}